<form class="d-flex justify-content-center align-content-center mt-3">
    <mat-form-field class="pr-3">
        <input matInput placeholder="Max cols" #maxColsIn (change)="updateCols(maxColsIn.value)" />
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Max card rows" #cardMaxRowsIn (change)="updateCardMaxRows(cardMaxRowsIn.value)" />
    </mat-form-field>
</form>

<div class="container col-10">
    <sg-app-dashboard
        [cols]="cols"
        [cardMaxRows]="cardMaxRows"
        [cards]="cards"
        (orderChanged)="orderChanged($event)"
    ></sg-app-dashboard>
</div>
